<h1>Seja Bem Vindo</h1>

<h4 class="texr-danger">{{anuncio}}</h4>
  <div class="row">
        <div class="col">
          <app-card-produto> 
            [foto]="foto"
            [nomeProduto]="nomeProduto"
            [promocao]="promocao"
            [idProduto]="idProduto"
            [dataValidade]="dataValidade"
            [precoProduto]="precoProduto"
          </app-card-produto>
        </div>

        <div class="col">
          <app-card-produto> 
            foto="https://www.google.com/url?sa=i&url=http%3A%2F%2Fwww.locadoratriangulo.com.br%2Flente-grande-angular%2F&psig=AOvVaw3Vfr4ro70I8zeLN_nPl9X-&ust=1618359361401000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPC58sv4-e8CFQAAAAAdAAAAABAD"
            nomeProduto="Viagem a Europa"
            promocao="false"
            idProduto="15"
            dataValidade="2021-08-31"
            precoProduto="2500.00"
          </app-card-produto>

        </div>

  </div>


